@keyframes siren {
    from {background-color: red;}
    to {background-color: blue;}
}

@media only screen and (max-width: 800px){
    @keyframes drive {
        0% {right: 0%; bottom: 0px;}
        100% {right: 100%;bottom: 100%;}   
    }
    #ambulance {
        float: right;
        bottom: 0px;
        right: 0%;
        max-height: 256px;
    }
}

@media only screen and (max-width: 400px){
    @keyframes drive {
        0% {right: 0%; top: 0vh;}
        100% {right: 100%;top: 100vh;}   
    }
    #ambulance {
        float: right;
        top: 0vh;
        right:0%;
        max-height: 256px;
    }
}

body{
    margin: 0;
    background-color: red;

    animation-name: siren;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    overflow: hidden;
}


#ambulance {
    position: absolute;
    animation-name: drive;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}