body{
    font-weight: bold;
    background-color: rgb(44, 44, 44);
}

.wrapper {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.wrapper > * {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header {
    text-align: center;
    background: lightgreen;
    flex: 100%;
}
.footer {
    text-align: center;
    background: lightsteelblue;
    flex: 100%;
}
.main {
    flex: 100%;
    text-align: left;
    background: dodgerblue;   
}
.main p {
    margin: 12px;
}

.aside-1 {
    flex: 100%;
    text-align: center;
    background: goldenrod;
    
}
.aside-2 {
    flex: 100%;
    text-align: center;
    background: lightcoral;
}
@media all and (min-width: 600px) {
    .aside-1{
        flex: 50%;
    }
    .aside-2 {
        flex: 50%;
    }
}
@media all and (min-width: 800px) {
    .header {
        order: -2;
    }
    .aside-1{
        order:  -1;
        flex: 20%;
    }
    .aside-2 {
        flex: 20%;
    }
    .main{
        flex: 60%;
    }
}
body {
    padding: 2em;
    font-family: sans-serif;
}